.nle-button {
  color: white;
  background-color: #dd0202;
  vertical-align: super;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.nle-button:hover {
  background-color: #690303;
}